<!DOCTYPE html>
<html lang="en">
<!-- include head partial from ./views/_head.ejs -->
<!-- this has all of our style and client-side script tags -->
<% include ./_head %>
<body>
<div class="container">

<h1>Edit User Profile</h1>

<!-- User Profile Form -->
<form role="form" id="profile-form">
  <!-- hidden field: used for pulling userId data -->
  <input id="userId" type="hidden" value="<%= user._id %>">
  
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name" name="name" value="<%= user.name %>">
  </div>
  <div class="form-group">
    <label for="location">Location:</label>
    <input type="text" class="form-control" id="location" name="location" value="<%= user.location %>">
  </div>
  <div class="form-group">
    <label for="genres">Genres:</label>
    <input type="text" class="form-control" id="genres" name="genres" value="<%= user.genres %>">
  </div>
  <div class="form-group">
    <label for="instruments">Instruments:</label>
    <input type="text" class="form-control" id="instruments" name="instruments" value="<%= user.instruments %>">
  </div>

  <button type="submit" class="btn btn-default">Update Profile</button>
</form>

</div>
</body>
</html>


<!-- Instrument Selection Checkbox (radio) -->
<!-- <label for="instruments">Instruments:</label>
<div class="radio" id="instruments">
  <label><input type="radio" id="guitar" name="guitar" value="Guitar">Guitar</label>
  <br>
  <label><input type="radio" id="bass" name="bass" value="Bass">Bass</label>
  <br>
  <label><input type="radio" id="drums" name="drums" value="Drums">Drums</label>
  <br>
  <label><input type="radio" id="keyboard" name="keyboard" value="Keyboard">Keyboard</label>
  <br>
</div> -->