<!DOCTYPE html>
<html lang="en">
<!-- include head partial from ./views/_head.ejs -->
<!-- this has all of our style and client-side script tags -->
<% include ./_head %>
<body>
<% include ./_navbar %>
<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <h1> <%= user.name %> </h1>
    </div>
  </div><!-- /.row -->
  <!-- Profile Pic/Info -->
  <div class="row">
    <div class="col-sm-4 col-sm-offset-1">
      <img src="<%= user.image %>">
    </div>
    <div class="col-sm-6">
      <p> Location: <%= user.location %> </p>
      <p> Genres: <%= user.genres %> </p>
      <p> Instruments: <%= user.instruments %> </p>
    </div>
  </div><!-- /.row -->
  <!-- About Me -->
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <h2>About:</h2>
      <p> <%= user.summary %> </p>
    </div>
  </div><!-- /.row -->
</div><!-- /.container -->
</body>
</html>