<!DOCTYPE html>
<html lang="en">
<!-- include head partial from ./views/_head.ejs -->
<!-- this has all of our style and client-side script tags -->
<% include ./_head %>
<body>
<div class="container">
<h1>Edit User Profile</h1>

<!-- User Profile Form -->
<form role="form" id="profile-form">
  <!-- hidden field: used to get userId in client ajax -->
  <input type="hidden" id="userId" value="<%= user._id %>">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name" name="name" value="<%= user.name %>" autofocus>
  </div>
  <div class="form-group">
    <label for="location">Location:</label>
    <input type="text" class="form-control" id="location" name="location" value="<%= user.location %>">
  </div>
  <div class="form-group">
    <label for="genres">Genres:</label>
    <input type="text" class="form-control" id="genres" name="genres" value="<%= user.genres %>">
  </div>
  <div class="form-group">
    <label for="instruments">Instruments:</label>
    <input type="text" class="form-control" id="instruments" name="instruments" value="<%= user.instruments %>">
  </div>
  <div class="form-group">
    <label for="image">Image URL:</label>
    <input type="url" class="form-control" id="image" name="image" value="<%= user.image %>">
  </div>
  <div class="form-group">
    <label for="summary">Summary:</label>
    <textarea class="form-control" rows="5" word-break:"normal" id="summary" name="summary"><%= user.summary %></textarea>
  </div>
  <button type="submit" class="btn btn-default">Update Profile</button>
</form>

</div>
</body>
</html>