<!DOCTYPE html>
<html lang="en">
<!-- include head partial from ./views/_head.ejs -->
<!-- this has all of our style and client-side script tags -->
<% include ./_head %>
<body>
<div class="container">

<h1>User Profile Page</h1>

<!-- Redirect to edit profile info -->
<a href="/users/<%= user._id %>/edit">Edit profile</a>

<!-- Profile Pic/Info -->
<div class="row">
  <div class="col-sm-4 col-sm-offset-1">
    <img src="http://placehold.it/200x200">
  </div>
  <div class="col-sm-6">
    <h2>Name: <%= user.name %></h2>
    <h2>Location: <%= user.location %></h1>
    <h2>Genres: <%= user.genres %></h2>
    <h2>Instruments: <%= user.instruments %></h2>
  </div>
</div>

<!-- TODO -->

<!-- About Me -->
<div class="row">
  <div class="col-sm-8 col-sm-offset-1">
    <h1>About:</h1>
    <p>Summary about myself goes here.</p>
  </div>
</div>

</div>
</body>
</html>